.social-login {
  width: 100%;
  display: flex;
  justify-content: center;
  button + button {
    margin-left: 1.5rem;
  }
}

.social-login > button {
  border: none;
  cursor: pointer;
  width: 6.7rem;
  height: 1.5rem;
  text-align: center;
}
