.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  form {
    display: flex;
    flex-direction: column;
    input + input {
      margin-top: 1rem;
    }
  }
}

.form-container > form > input:last-child {
  margin: 1rem auto;
}

.form-container > form > input {
  width: 15rem;
  height: 1.5rem;
  outline: none;
  border: none;
  cursor: pointer;
}
