.video__player {
  display: flex;
  justify-content: center;
  video {
    width: 50%;
    height: auto;
  }
}

.video__info {
  margin: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  h5 {
    margin: 0;
    font-size: 2rem;
  }
  div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  div:nth-child(2) {
    .video__views {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
