.header__wrapper {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  align-items: center;
  background: #f4ebff;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0px;
  left: 0px;
  box-shadow: 0.1rem 0.05rem 0 gray; }

.header__wrapper .header__column:nth-child(1) i {
  font-size: 2rem;
  color: #b83f38; }

.header__wrapper .header__column:nth-child(2) form > input {
  width: 30rem;
  height: 1.5rem;
  outline: none;
  border: none;
  border-bottom: 1.5px solid gray;
  background: #f4ebff;
  transition: border-bottom 2s; }
  .header__wrapper .header__column:nth-child(2) form > input:focus {
    border-bottom: 1.5px solid black; }

.header__wrapper .header__column > ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }
  .header__wrapper .header__column > ul li {
    margin-right: 1rem; }
    .header__wrapper .header__column > ul li:last-child {
      margin-right: 0; }
    .header__wrapper .header__column > ul li a {
      text-decoration: none;
      color: black;
      letter-spacing: 0.2px;
      text-transform: uppercase; }

.line {
  margin-top: 6rem; }

body {
  background-color: #f0ffe6;
  font-size: 1rem;
  margin: 0; }

main {
  margin: 0 auto; }

html {
  height: 100%; }

.videoBlock {
  display: flex; }
  .videoBlock a video {
    width: 20%;
    height: auto; }

.footer:before {
  content: "";
  width: 20rem;
  display: block;
  margin: 0 auto;
  border-top: 1.5px solid rgba(0, 0, 0, 0.5); }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.5); }

