.u-avatar {
  height: 80px;
  background-color: #b83f38;
  border-radius: 50%; }

.videoBlock {
  width: 45%;
  margin: 1rem; }
  .videoBlock a video {
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    height: auto; }

@media screen and (min-width: 980px) {
  .videoBlock {
    margin: 1rem;
    width: 30%; }
    .videoBlock a video {
      width: 100%;
      height: auto; } }

@media screen and (max-width: 720px) {
  .videoBlock {
    margin: 1rem;
    width: 100%; }
    .videoBlock a video {
      width: 100%;
      height: auto; } }

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.user-profile {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .user-profile .user-profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px; }
    .user-profile .user-profile__header .profile__username {
      font-size: 18px;
      margin-top: 15px; }
  .user-profile .user-profile__btns {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .user-profile .user-profile__btns a:not(:last-child) {
      margin-bottom: 20px; }

.video__player {
  display: flex;
  justify-content: center; }
  .video__player video {
    width: 50%;
    height: auto; }

.video__info {
  margin: 1rem 1.5rem;
  display: flex;
  flex-direction: column; }
  .video__info h5 {
    margin: 0;
    font-size: 2rem; }
  .video__info div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .video__info div:nth-child(2) .video__views {
    color: rgba(0, 0, 0, 0.4); }

.header__wrapper {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  align-items: center;
  background: #f4ebff;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0px;
  left: 0px;
  box-shadow: 0.1rem 0.05rem 0 gray; }

.header__wrapper .header__column:nth-child(1) i {
  font-size: 2rem;
  color: #b83f38; }

.header__wrapper .header__column:nth-child(2) form > input {
  width: 30rem;
  height: 1.5rem;
  outline: none;
  border: none;
  border-bottom: 1.5px solid gray;
  background: #f4ebff;
  transition: border-bottom 2s; }
  .header__wrapper .header__column:nth-child(2) form > input:focus {
    border-bottom: 1.5px solid black; }

.header__wrapper .header__column > ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }
  .header__wrapper .header__column > ul li {
    margin-right: 1rem; }
    .header__wrapper .header__column > ul li:last-child {
      margin-right: 0; }
    .header__wrapper .header__column > ul li a {
      text-decoration: none;
      color: black;
      letter-spacing: 0.2px;
      text-transform: uppercase; }

.line {
  margin-top: 6rem; }

.social-login {
  width: 100%;
  display: flex;
  justify-content: center; }
  .social-login button + button {
    margin-left: 1.5rem; }

.social-login > button {
  border: none;
  cursor: pointer;
  width: 6.7rem;
  height: 1.5rem;
  text-align: center; }

.footer {
  margin: 50px 0;
  padding-top: 50px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer .footer__icon {
    color: rgba(0, 0, 0, 0.2);
    font-size: 40px;
    margin-bottom: 20px; }
  .footer .footer__text {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 800;
    text-transform: uppercase; }

.search__header {
  margin-left: 1rem; }

.search__videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

body {
  background-color: #f0ffe6;
  font-size: 1rem;
  margin: 0;
  height: 96%; }

main {
  margin: 0 auto;
  height: 96%; }

html {
  height: 96%; }

.form-container,
.form-container__upload,
.form-container__editProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%; }
  .form-container form,
  .form-container__upload form,
  .form-container__editProfile form {
    display: flex;
    flex-direction: column; }
  .form-container input + input,
  .form-container__upload input + input,
  .form-container__editProfile input + input {
    margin-top: 1rem; }

.editProfile__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .editProfile__form .fileUpload {
    margin-bottom: 1rem;
    justify-content: center; }
  .editProfile__form input {
    width: 15rem;
    height: 1.5rem;
    outline: none;
    border: none; }

.form-container > form > input:last-child {
  margin: 1rem auto; }

.form-container > form > input {
  width: 15rem;
  height: 1.5rem;
  outline: none;
  border: none;
  cursor: pointer; }

.form-container__upload > form > input,
textarea {
  outline: none;
  border: none;
  cursor: pointer;
  line-height: 1.2rem;
  padding: 0 0.5rem; }

.form-container__upload > form > .file {
  margin-top: 1rem;
  padding: 0; }

.form-container__upload > form > input:not(:last-child) {
  width: 30rem;
  height: 2rem; }

.form-container__upload > form > textarea {
  min-height: 50px;
  height: 20rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }

